
@font-face {
  font-family: 'SFP';
  src: url('../fonts/SF-Pro-Display-Regular.otf') format('otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFP';
  src: url('../fonts/SF-Pro-Display-Medium.otf') format('otf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFP';
  src: url('../fonts/SF-Pro-Display-Semibold.otf') format('otf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFP';
  src: url('../fonts/SF-Pro-Display-Bold.otf') format('otf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFP';
  src: url('../fonts/SF-Pro-Display-Heavy.otf') format('otf');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}