@mixin new-font($font-name, $font-link, $local) {
  font-family: $font-name;
  src: url('../fonts/#{$font-link}.eot');
  src:
    local($local),
    local($font-link),
    url('../fonts/#{$font-link}.eot?#iefix') format('embedded-opentype'),
    url('../fonts/#{$font-link}.ttf') format('truetype'),
    url('../fonts/#{$font-link}.woff') format('woff');
  //url("../fonts/#{$font-link}.woff2") format("woff2");
  //url("../fonts/#{$font-link}.svg#MyFont") format('svg');
}
