@use '../../variables.scss' as *;

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $popup-overlay-bg;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
  backdrop-filter: blur(5px);
}

.modal-body {
  position: relative;
  z-index: 2;
}

.modal-content {
  background: $popup-bg;
  padding: 32px 20px;
  max-width: 490px;
  min-width: 480px;
  width: 100%;
  animation: modalFadeIn 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media screen and (max-width: 1024px) {
    padding: 24px;
    min-width: auto;
  }

  &.error,
  &.success {
    padding: 0;
    overflow: hidden;
    gap: 0;
  }

  .modal-content-text {
    position: relative;
    z-index: 1;
    padding: 40px;
    flex-direction: column;
    gap: 16px;
    text-align: left;

    @media screen and (max-width: 1024px) {
      padding: 24px;
    }
  }

  .modal-image {
    max-height: 242px;
    margin-bottom: -40px;
    @media screen and (max-width: 1024px) {
    }
  }

  .modal-information {
    gap: 16px;
    width: 100%;
    padding: 10px;
    background: $bg-color-2;
    align-items: flex-start;
  }

  .form-group {
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    gap: 8px;
  }

  .btn-input {
    width: auto;
    margin-bottom: -1px;
  }

  .modal-text-wrapper {
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
  }
}

.modal-close {
  position: absolute;
  top: 32px;
  right: 20px;
  z-index: 3;
  cursor: pointer;
  padding: 0;
  background: transparent;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  animation: modalFadeIn 0.3s ease-in-out;

  width: 18px;
  height: 18px;

  &:hover {
    opacity: 0.7;
  }
}

.modal-close-icon {
  width: 48px;
  height: 48px;
}

.modal-title {
  margin-bottom: 0;
  max-width: 90%;
  color: $text-color-3;
}

.modal-text {
  color: $text-color-4;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn {
  &.recovery,
  &.license {
    width: max-content;

    @media screen and (max-width: 1024px) {
      width: 100%;
    }
  }
}

html.lang-fa,
html.lang-ar {
  .modal-text {
    text-align: right;
  }
  .modal-content-text {
    padding: 36px 24px 24px;
  }

  .modal-close {
    right: auto;
    left: 20px;
  }
}
